<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220577898660-heno7j7cbacmks4bgbfcve29tkavteml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220577898660-heno7j7cbacmks4bgbfcve29tkavteml</string>
	<key>API_KEY</key>
	<string>AIzaSyBiInUS5e3ppn3jwk06SIA5KUaQ1YroT8c</string>
	<key>GCM_SENDER_ID</key>
	<string>220577898660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShashwatPanda.LoveBirds</string>
	<key>PROJECT_ID</key>
	<string>lovebirds-20875</string>
	<key>STORAGE_BUCKET</key>
	<string>lovebirds-20875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220577898660:ios:046ac51d9c6d7dc8fc4631</string>
</dict>
</plist>